.cityHead{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .2rem;
  border-bottom: 1px solid #ccc;
  z-index: 10;
  background-color: #f9f9f9;
  .s-icon{
    position: absolute;
    top: .25rem;
    left: .2rem;
    width: .5rem;
    height: .5rem;
  }
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: .1rem;
    border-radius: .6rem;
    font-size: .26rem;
    background-color: #ebecee;
    color: #5f5f61;
    .icon{
      width: .3rem;
      height: .3rem;
      vertical-align: middle;
    }
  }
}