.mine {
  .header {
    position: relative;
    //border: 1px solid red;
    overflow: hidden;

    .b-top {
      height: 3rem;
      background-color: #26aaae;
    }

    .b-bottom {
      width: 140%;
      margin-left: -20%;
      margin-top: -1.1rem;
      height: 3.5rem;
      border-top-right-radius: 60%;
      border-top-left-radius: 60%;
      background-color: #fff;
    }

    .top {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      padding: .2rem .3rem;
      justify-content: space-between;
      box-sizing: border-box;
      background-color: #25aab0;

      .t-right {
        width: 18%;
        display: flex;
        justify-content: space-between;
      }

      .icon {
        width: .5rem;
        height: .5rem;
      }
    }

    .middle {
      position: absolute;
      top: 1.1rem;
      left: calc(50% - 2.5rem);
      width: 5rem;
      text-align: center;
      font-size: .3rem;

      .icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: .1rem;
      }

      a {
        color: #000;
        text-decoration: none;
      }
    }

    .bottom {
      position: absolute;
      bottom: 0;
      left: 5%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      border-bottom: 1px solid #ccc;
      padding: .4rem 0;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .25rem;

        .icon {
          width: .8rem;
          height: .8rem;
          margin-bottom: .2rem;
        }
      }
    }
  }
}

.btn {
  margin: .5rem .2rem;
  box-sizing: border-box;
  outline: none;
  border: #dedddd;
  width: calc(100% - .4rem);
  font-size: .4rem;
  padding: .2rem;
  background-color: #fff;
}

.am-action-sheet-body{
  font-size: .36rem !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}