//current city
.current{
  margin-top: 1.7rem;
  color: #555;
  font-size: .3rem;
  background-color: #fff;
  .c-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //font-size: .3rem;
    padding: .3rem;
    .county{
      display: flex;
      font-weight: normal;
    }
    .icon{
      display: inline-block;
      width: .2rem;
      height: .2rem;
    }
  }
}
//common
.c-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  padding: 0 .3rem;
  font-size: .3rem;
  span{
    display: inline-block;
    width: 29%;
    margin-right: 3%;
    padding: .2rem;
    text-align: center;
    border: 1px solid #f1f1f1;
    margin-bottom: .2rem;
    background-color: #fff;
    color: #434343;
  }
}

.title{
  padding: .3rem;
  font-size: .3rem;
  color: #a6a6a6;
}

.group{
  border: 1px solid #e6e6e6;
  .para{
    margin: 0;
    padding: .1rem .3rem;
    font-size: .3rem;
    color: #a0a0a0;
  }
  ul{
    background-color: #fff;
  }
  .item{
    margin: 0 .4rem 0 .3rem;
    padding: .2rem 0;
    box-sizing: border-box;
    font-size: .3rem;
    background-color: #fff;
    border-bottom: .02rem solid #d7d7d7;
    color: #181818;
  }
}
